body {
  margin: 0;
  padding: 0;
  background: #222;
}
body.no-scroll {
  overflow: hidden;
}
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 96%;
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}
.infoSearch{
  color: white;
  display: flex;
  justify-content: space-around;
}
